
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Profilim <br />
    Ad:Ertugrul<br />
    Soyad:Koyunlu<br />
    Sehir:Adana <br/>
    Meslek:Yazilim Muhendisi
</h2>

